.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: var(--color-label);
  font-size: var(--font-size-title-1);
  font-weight: var(--font-weight-bold);
  display: flex;
  letter-spacing: -0.4px;
}

.logo span {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.logo span:nth-child(1) {
  color: var(--color-system-red);
}

.logo span:nth-child(2) {
  color: var(--color-system-green);
}

.logo span:nth-child(3) {
  color: var(--color-system-blue);
}

.logo:hover span:nth-child(1) {
  color: var(--color-system-blue);
}

.logo:hover span:nth-child(2) {
  color: var(--color-system-red);
}

.logo:hover span:nth-child(3) {
  color: var(--color-system-green);
}
